<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="userDetail_contents">
        <div class="page-header">
            <h1>ユーザー詳細</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">ユーザーID</th>
                <th class="info col-sm-2">ユーザー名</th>
            </tr>
            <tr th:each="userDetail : ${user}">
                <td th:text="${userDetail.id}"></td>
                <td th:text="${userDetail.user_name}"></td>
            </tr>
        </table>
    </div>
</body>
</html>